<ul><form action="/cards" method="POST">

    Name: <input type="text" name="name"><br><br>

    Cost: <input type="text" name="cost"><br><br>

    Mana Type: <input type="text" name="mana_id"><br><br>

    Type: <input text="text" name="type"><br><br>

    <input type="submit" value="Create Card">

</form>
</ul>