<img src="img/download.jpeg" class=imgmain><br>
<h1>Pick your poison:</h1>

<ul>{{#each mana}}
    <li><a href="./mana/{{id}}/costs"><img src="{{url}}" valign=middle /> &nbsp; {{type}}</a></a></li>

    {{/each}}
</ul>