body {
  background-color: #806040;
  background-image: url("/img/wood.jpg");
  background-repeat: repeat;
}

a {
  color: #000000;
  text-decoration: none;
}
a:link {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

a:active {
  color: #ffffff;
  text-decoration: none;
}

h1 {
  background: tan;
  font-family: 'Lancelot', serif;
  font-size: 56px;
  font-weight: bold;
  border-color: black;
  border-radius: 8px 8px 8px 8px;
  border: 3px;
  border-style: outset;
  margin: 8px 8px 16px 8px;
  padding: 16px;
}

h2 {
  background: tan;
  font-family: 'Lancelot', serif;
  font-size: 48px;
  font-weight: bold;
  border-radius: 0px 6px 0px 6px;
  border: 2px;
  border-style: inset;
  margin: 8px;
  text-align: left;
}

h3 {
  background: tan;
  font-family: 'Lancelot', serif;
  font-size: 40px;
  margin: 8px;
  text-align: left;
}

h4 {
  background: tan;
  font-family: 'Lancelot', serif;
  font-size: 32px;
  margin: 8px;
  text-align: left;
}

h5 {
  background: tan;
  font-family: 'Lancelot', serif;
  font-size: 24px;
  margin: 8px;
  text-align: left;
}

h6 {
  background: tan;
  font-family: 'Lancelot', serif;
  font-size: 20px;
  margin: 8px;
  text-align: left;
}

ul {
  background: tan;
  border: 1px;
  border-style: outset;
  border-radius: 6px;
  margin: 16px 8px 16px 8px;
  padding: 12px;
  list-style-position: inside;
  list-style-type: circle;
  font-family: 'Lancelot', serif;
  font-size: 20px;
}

p {
  background: tan;
  border: 1px;
  border-style: outset;
  border-radius: 3px;
  font-family: 'EB Garamond', serif;
  margin: 8px;
  padding: 8px;
  text-align: left;
}

.card {
  background: tan;
  border: 3px;
  border-style: outset;
  box-shadow: 6px 6px 4px #303030;
  color: black;
  margin: 8px;
  padding: 28px;
  text-align: left;
}

.imgmain {
  border: 2px;
  border-style: ridge;
}